<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>JustStreamIt</title>
        <link rel="stylesheet" href="../static/css/style.css" />
        <link rel="stylesheet" href="../static/css/carousel.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    </head>

    <body>
        <header class='header'>
            <a class="header__link--brand" href="#">
                JustStreamIt
            </a>
            <div class="header__container-link">
                <a class="header__link active" href="#">
                    Accueil
                </a>
                <a class="header__link" href="#">
                    Catégories
                </a>
            </div>
        </header>

        <section class="movie">
            <p class="movie__title">Best Movie</p>
            <div class="movie__section" id="movie-section">
                <div class="movie__container__img">
                    <img class="movie__img" src="" alt="bestmovie"/>
                </div>
                <div class="movie__info">
                    <p class="movie__info__title"></p>
                    <p class="movie__info__genre"></p>
                    <p class="movie__info__plot"></p>
                    <div class="movie__info__container">
                        <div class="movie__info__btn__play">
                            <div class="movie__info__btn__play__triangle">
                            </div>
                            <p>Play</p>
                        </div>
                        <div class="movie__info__btn__info">
                            <p>More Info</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        {% for category in categories %}
        <section class="carousel">
            <div class="carousel__wrapper">
                <div class="nav nav-left">
                    <div class="ion-chevron-left carousel-arrow-icon-left"></div>
                </div>
                <div class="carousel__content">
                    <h2 class="carousel__title"> {{ category }}</h2>
                    <div class="carousel__items">
                        {% for data in categories[category] %}
                        <div class="carousel__items__container">
                            <img id={{ data[0] }}  class="carousel__items__image" src={{ data[1] }} alt="movie" />
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="nav nav-right">
                    <div class="ion-chevron-right carousel-arrow-icon-right"></div>
                </div>
            </div>
        </section>
        {% endfor %}


        {% include 'modal.html' %}

        <footer class='footer'>
            <a class="footer__link" href="#">
                JustStreamIt
            </a>
        </footer>

    </body>
    <script src="../static/js/home.js"></script>
    <script src="../static/js/carousel.js"></script>
    <script src="../static/js/modal.js"></script>
    <script src="../static/js/fetch.js"></script>
</html>
